<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="nacholab.scanera">

    <application>
        <activity
            android:name=".Scanera"
            android:screenOrientation="userPortrait" />
    </application>

</manifest>